<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Products</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">

</head>
<body>

	<div class="topnav">
   	<a href="index.html">HOME</a>
  	<a href="portfolio.html">PORTFOLIO</a>
	</div>
	<br>
	<button type="submit" style="float: right;"><a href="login.html">Logout</button></a>

	 <div id="Products" class="container-products">
    	<hr>
        <h2 class="shopping-list">PRODUCTS</h2>
        <hr>

        <div class="imgContainer" style="float: left; margin-left: 100px; margin-right: 50px;">
        <img src="https://m.media-amazon.com/images/I/51HjSy7SwgL._AC_.jpg" alt="petCloth1" class="center" width="300" height="450">
        <p class="infoprod" style="text-align: center; font-size: 35px;"><b>FURRY CAPTAIN SHIRT</b></p>
        <p class="infoprod" style="text-align: center;">Available sizes: S, M, L</p>
        <p class="infoprod" style="text-align: center;">S = PHP800.00</p>
        <p class="infoprod" style="text-align: center;">M = PHP,1000.00</p>
        <p class="infoprod" style="text-align: center;">L = PHP1,500.00</p>
    	</div>

        

        <div class="imgContainer" style="float: left; margin-right: 50px; margin-left: 350px;">
        <img src="https://m.media-amazon.com/images/I/61MVE3DeWqL._AC_SX466_.jpg" alt="petCloth2" class="center" width="300" height="450">
        <p class="infoprod" style="text-align:center; font-size: 35px;"><b>BEST FURRY SHIRT</b></p>
        <p class="infoprod" style="text-align: center;">Available sizes: XS, M</p>
        <p class="infoprod" style="text-align: center;">XS = PHP500.00</p>
        <p class="infoprod" style="text-align: center;">M = PHP800.00</p>
		</div>

        
        <div class="imgContainer" style="float: right; margin-right: 100px;">
        <img src="https://m.media-amazon.com/images/I/71F4C-rh9SL._AC_SL1500_.jpg" alt="petCloth3" class="center" width="300" height="450">
        <p class="infoprod" style="text-align: center; font-size: 35px;"><b>TROPICAL FURRY SHIRT</b></p>
        <p class="infoprod" style="text-align: center;">Available sizes: S, L</p>
        <p class="infoprod" style="text-align: center;">S = PHP800.00</p>
        <p class="infoprod" style="text-align: center;">L = PHP1,500.00</p>
        <table id="list"></table>
    	</div>
  </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<hr>
<form class="container-cart">
    <fieldset class="field">
    	<div data-ng-app="" data-ng-init="quantity=1;price=5">
        <legend class="shopping" style="text-align: center;"><b>SHOPPING CART</b></legend>

        <label class="item"><b>Item:</b> <input type="text" name="name"></label>
        <br>
        <br>
        <label class="item"><b>Size:</b> <input type="text" name="name"></label>
        <br>
        <br>
        <label class="item"><b>Price:</b> <input type="number" name="data" ng-model="quantity"></label>
        <br>
        <br>
        <label class="item"><b>Quantity:</b> <input type="number" name="data" ng-model="price"></label>

		<p class="total"><b>TOTAL=</b>PHP {{quantity * price}}</p>

		</div>

		<button type="submit"><a href="index.html">Checkout</button></a>
		
		<button class=”button”>Remove All<a href="index.html"></button></a>

    </fieldset>
</form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</body>
</html>